<div class="card"> </div>

<div fxLayoutAlign="center">
    <mat-card class="postagem">
        <div class="container">
            <h1>Automação</h1>

            <mat-divider></mat-divider>

            <div class="post">
                <div fxLayout="row" fxLayoutAlign="center" class="form">
                    <mat-form-field>
                        <mat-label> Localidade </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="form" fxLayout="row" fxLayoutAlign="end center">
                <button mat-flat-button color="primary" (click)="openDialogAutomacao('500ms', '250ms')">Adicionar
                    Dispositivo</button>
            </div>
        </div>
    </mat-card>
</div>

<div class="container">
    <div class="atendimento">
        <mat-card>
            <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
                Controle de temperatura - Quartos
                <div fxLayout="row">
                    <div fxLayout="row" class="middle">

                        <button mat-icon-button (click)="decrementar()" matTooltip="(ctrl + b)"
                            aria-label="Diminuir quantidade"><mat-icon>remove</mat-icon>
                        </button>

                        <p style="font-size: 20px; margin-left: 5px; margin-right: 5px;" [ngClass]="{
                            'frio': quantidade <= 20,
                            'calor': quantidade >= 30
                          }">{{quantidade}}
                        </p>

                        <button mat-icon-button (click)="incrementar()" matTooltip="(ctrl + m)"
                            aria-label="Aumentar quantidade"><mat-icon>add</mat-icon>
                        </button>

                    </div>
                    <div>
                        <button mat-icon-button (click)="powerFunction()">
                            <mat-icon [ngStyle]="{'color': power ? 'red' : 'rgb(126, 121, 121)'}">
                                power_settings_new</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>

        <br>
        <br>

        <mat-card>
            <mat-tab-group>
                <mat-tab label="Dispositivos">
                    <app-automacao-dispositivos></app-automacao-dispositivos>
                </mat-tab>
                <mat-tab label="Comandos">
                   <app-automacao-comandos></app-automacao-comandos>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>