.body {
    width: 100%;
    text-align: center;
    margin: 25px;
}

.container {
    margin: 15px;
}

.post {
    margin-top: 25px;
}

.form {
    margin-bottom: 15px;
}

.form mat-form-field {
    width: 100%;
    margin-left: 15px;
}

.atendimento {
    margin-bottom: 50px;
}

.middle {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.frio {
    color: blue;
}

.calor {
    color: red;
}

.comentario {
    margin-top: 25px;
}

mat-form-field {
    width: 100%;
}

.postagem {
    margin-top: -115px;
    margin-bottom: 30px;
    width: 95%;
}

.register-button {
    margin: 10px;
}
