<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin"> 
        <h1>Ordem de Serviços</h1>
        <!-- <a mat-raised-button color="primary" (click)="openDialogCliente('500ms', '250ms')">Adicionar</a> -->
        <a mat-raised-button color="primary">Adicionar</a>
    </div>

    <div class="ordens margin-top">
        <mat-card>
            <mat-card-header>
              <mat-card-title> Vera Emily Aparício </mat-card-title>
              <mat-card-subtitle> Banho e tosa - Iniciado </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>Visualizar</button>
              <button mat-button>Relatório</button>
              <button mat-button>Finalizar</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="ordens margin-top">
        <mat-card>
            <mat-card-header>
              <mat-card-title>  Renan Danilo Aparício  </mat-card-title>
              <mat-card-subtitle> Castração - Em progresso </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>Visualizar</button>
              <button mat-button>Relatório</button>
              <button mat-button>Finalizar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>