<div class="container">
    <h1>Empresa</h1>
</div>

<mat-divider></mat-divider>

<form [formGroup]="cadastroAutomacao">
    <div class="post container">
        <div fxLayout="row" fxLayoutAlign="center" class="form">
            <mat-form-field>
                <mat-label>IP</mat-label>
                <input matInput formControlName="ip">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" class="form">
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input matInput formControlName="modelo">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fabricante</mat-label>
                <input matInput formControlName="fabricante">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" class="form">
            <mat-form-field>
                <mat-label>Equipamento</mat-label>
                <input matInput formControlName="equipamento">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Firmware</mat-label>
                <input matInput formControlName="firmware">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="center" class="form">
            <mat-form-field>
                <mat-label>Local</mat-label>
                <input matInput formControlName="local">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" class="form">
            <mat-form-field>
                <mat-label>Porta</mat-label>
                <input matInput formControlName="porta">
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <div class="margin">
            <div *ngIf="isLoading" class="loader"></div>
        </div>

        <div class="margin" fxLayout="row" fxLayoutAlign="end center">
            <button mat-dialog-close mat-flat-button color="warn" [hidden]="isLoading">Cancelar</button>
            &nbsp;
            <button mat-flat-button color="primary" [disabled]="cadastroAutomacao.invalid"
                [hidden]="isLoading">Salvar</button>
        </div>
    </div>
</form>