<div class="container">
  <h1>Cliente</h1>
</div>


<mat-divider></mat-divider>

<form [formGroup]="cadastroCliente">
  <div class="post">
    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput minlength="3" [(ngModel)]="data.cliente" formControlName="cliente">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="data.cpf" mask="000.000.000-00" formControlName="cpf">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.email" formControlName="email">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput mask="+00 (00) 00000 - 0000||+00 (00) 0000 - 0000" [(ngModel)]="data.telefone"
          formControlName="telefone">
      </mat-form-field>

      <mat-form-field>
        <mat-label>telefone 2</mat-label>
        <input matInput mask="+00 (00) 00000 - 0000||+00 (00) 0000 - 0000" [(ngModel)]="data.telefone2"
          formControlName="telefone2">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput mask="00000 - 000" [(ngModel)]="endereco.cep" [(ngModel)]="data.cep"
          (blur)="buscarEnderecoPorCep()" formControlName="cep">
        <mat-hint *ngIf="cepNaoEncontrado" class="error-message">CEP não encontrado <br> </mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Rua/Avenida</mat-label>
        <input matInput [(ngModel)]="endereco.logradouro" [(ngModel)]="data.logradouro"
          [required]="cadastroCliente.get('cep')?.value" formControlName="logradouro">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput [(ngModel)]="endereco.bairro" [(ngModel)]="data.bairro"
          [required]="cadastroCliente.get('cep')?.value" formControlName="bairro">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input matInput [(ngModel)]="endereco.cidade" [(ngModel)]="data.cidade"
          [required]="cadastroCliente.get('cep')?.value" formControlName="cidade">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput aria-label="State" [(ngModel)]="endereco.estado" [(ngModel)]="data.estado"
          [required]="cadastroCliente.get('cep')?.value" formControlName="estado">
        <mat-select>
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img alt="" class="example-option-img" [src]="state.flag" height="25">
            &nbsp;
            <span>{{state.name}}</span> - {{state.sigla}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput [(ngModel)]="data.complemento" formControlName="complemento">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <br>

    <div class="margin">
      <div *ngIf="isLoading" class="loader"></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-dialog-close mat-flat-button color="warn" [hidden]="isLoading">Cancelar</button>
      &nbsp;
      <button mat-flat-button color="primary" [hidden]="isLoading" [disabled]="cadastroCliente.invalid"
        (click)="atualizarCadastro()">Salvar</button>
    </div>
  </div>
</form>