<div class="card"> </div>

<div fxLayoutAlign="center">
    <mat-card class="postagem">
        <div class="container">
            <h1>Comunidade</h1>
    
            <mat-divider></mat-divider>
        
            <div class="post">
            <div fxLayout="row" fxLayoutAlign="center" class="form"> 
                <mat-form-field>
                    <mat-label>Comentário</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="end center"> 
                <button mat-flat-button color="primary">Publicar</button>
            </div>
        </div>
    </mat-card>
</div>

<div class="container">
    <div class="comunidade">
        <mat-card>
           <div class="container">
                <div>
                    <div class="icone">
                        <img height="80px" src="/assets/img/icon-user.png" alt="icon">
                    </div>
                    <div class="user">
                        <b>Vitor Costa - Desenvolvedor</b>
                    </div>
                </div>

                <div class="comentario">
                    <i>                    
                        Estou simplesmente adorando essa nova platafoma para gerenciamento de meu negócio, pois por aqui tenho controle de tudo o que acontece em minha empresa.
                    </i>
                </div>

                <div class="respostas">
                    <mat-accordion>
                        <mat-expansion-panel>

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Respostas
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Sérgio Pietro Ruan Fogaça </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Tatiane Larissa Emily Aragão </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Cláudio Raul Lima </b></i>
                            </p>

                            <mat-form-field>
                                <mat-label>Responder</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <div fxLayout="row" fxLayoutAlign="end center" > 
                                <button mat-flat-button color="primary">Publicar</button>
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
           </div>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card>
            <div class="container">
                 <div>
                     <div class="icone">
                         <img height="80px" src="/assets/img/icon-user.png" alt="icon">
                     </div>
                     <div class="user">
                         <b>Vitor Costa - Desenvolvedor</b>
                     </div>
                 </div>
 
                 <div class="comentario">
                     <i>                    
                         Estou simplesmente adorando essa nova platafoma para gerenciamento de meu negócio, pois por aqui tenho controle de tudo o que acontece em minha empresa.
                     </i>
                 </div>
 
                 <div class="respostas">
                     <mat-accordion>
                         <mat-expansion-panel>
 
                             <mat-expansion-panel-header>
                                 <mat-panel-title>
                                 Respostas
                                 </mat-panel-title>
                             </mat-expansion-panel-header>
 
                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Sérgio Pietro Ruan Fogaça </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Tatiane Larissa Emily Aragão </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Cláudio Raul Lima </b></i>
                            </p>
 
                             <mat-form-field>
                                 <mat-label>Responder</mat-label>
                                 <input matInput>
                             </mat-form-field>

                             <div fxLayout="row" fxLayoutAlign="end center" > 
                                <button mat-flat-button color="primary">Publicar</button>
                            </div>
 
                         </mat-expansion-panel>
                     </mat-accordion>
                 </div>
            </div>
         </mat-card>

         <mat-divider></mat-divider>

         <mat-card>
            <div class="container">
                 <div>
                     <div class="icone">
                         <img height="80px" src="/assets/img/icon-user.png" alt="icon">
                     </div>
                     <div class="user">
                         <b>Vitor Costa - Desenvolvedor</b>
                     </div>
                 </div>
 
                 <div class="comentario">
                     <i>                    
                         Estou simplesmente adorando essa nova platafoma para gerenciamento de meu negócio, pois por aqui tenho controle de tudo o que acontece em minha empresa.
                     </i>
                 </div>
 
                 <div class="respostas">
                     <mat-accordion>
                         <mat-expansion-panel>
 
                             <mat-expansion-panel-header>
                                 <mat-panel-title>
                                 Respostas
                                 </mat-panel-title>
                             </mat-expansion-panel-header>
 
                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Sérgio Pietro Ruan Fogaça </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Tatiane Larissa Emily Aragão </b></i>
                            </p>

                            <p>                         
                                <i>Realmente é um app impressionante <b> ~ Cláudio Raul Lima </b></i>
                            </p>
 
                             <mat-form-field>
                                 <mat-label>Responder</mat-label>
                                 <input matInput>
                             </mat-form-field>

                             <div fxLayout="row" fxLayoutAlign="end center" > 
                                <button mat-flat-button color="primary">Publicar</button>
                            </div>
 
                         </mat-expansion-panel>
                     </mat-accordion>
                 </div>
            </div>
         </mat-card>
         <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
        </mat-paginator>
    </div>
  
  </div>