<div class="container">
    <mat-card>
        <div class="container">
            <h1>Comunidade</h1>
  
        <mat-divider></mat-divider>
    
        <div class="post">
        <div fxLayout="row" fxLayoutAlign="center" class="form"> 
            <mat-form-field>
            <mat-label>Comentário</mat-label>
            <textarea matInput></textarea>
            </mat-form-field>
        </div>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="end center" > 
            <button mat-flat-button color="primary">Publicar</button>
        </div>
        </div>
    </mat-card>

    <br>

    <mat-divider></mat-divider>

    <div class="comunidade">
        <mat-card>
           <div class="container">
                <div>
                    <div class="icone">
                        <img height="80px" src="/assets/img/icon-user.png" alt="icon">
                    </div>
                    <div class="user">
                        <b>Vitor Costa - Lingo Lingo</b>
                    </div>
                </div>
                <div class="comentario">
                    <i>                    
                        Estou simplesmente adorando essa nova platafoma para gerenciamento de meu negócio, pois por aqui tenho controle de tudo o que acontece em minha empresa
                    </i>
                </div>
           </div>
        </mat-card>
    </div>
   
    <br>
  
    <br>
  
  </div>