<div class="container">
    <h1>Comunidade</h1>
  
    <mat-divider></mat-divider>
   
    <div class="post">
      <div fxLayout="row" fxLayoutAlign="center" class="form"> 
        <mat-form-field>
          <mat-label>Comentário</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
     
    <div fxLayout="row" fxLayoutAlign="end center" > 
        <button mat-flat-button color="primary">Publicar</button>
    </div>

    <br>

    <mat-divider></mat-divider>


   
    <br>
  
    <br>
  
  </div>