<div class="container">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="margin"> 
    <h1>Usuarios</h1>
    <a mat-raised-button color="primary" (click)="openDialogColaborador('500ms', '250ms')" matTooltip="Adicionar usuário">Adicionar</a>
  </div>

  <br>

  <mat-card class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive">
  
      <!-- Coluna Colaborador -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Colaborador </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>
    
      <!-- Coluna Setor -->
      <ng-container matColumnDef="setor">
        <th mat-header-cell *matHeaderCellDef> Setor </th>
        <td mat-cell *matCellDef="let element"> {{element.setor}} </td>
      </ng-container>
    
      <!-- Coluna Localização -->
      <ng-container matColumnDef="localizacao">
        <th mat-header-cell *matHeaderCellDef> Localização </th>
        <td mat-cell *matCellDef="let element"> {{element.localizacao}} </td>
      </ng-container>

        <!-- Coluna E-mail -->
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Coluna Telefone -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
      </ng-container>

      <!-- Coluna Telefone 2 -->
      <ng-container matColumnDef="telefone2">
        <th mat-header-cell *matHeaderCellDef> Telefone 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.telefone2}} </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page"></mat-paginator>
            
  </mat-card>
</div>