<div fxLayout="row" fxLayoutAlign="space-around center" > 
    <mat-card class="faturamento">
        <div class="container">
            <mat-card-title>
                Faturamento
            </mat-card-title>
            <hr>
            <div class="margin-body">
                R$ 1.236,00
            </div>
        </div>
    </mat-card>

    <mat-card class="despesa">
        <div class="container">
            <mat-card-title>
                Despesa
            </mat-card-title>
            <hr>
            <div class="margin-body">
                R$ 236,00
            </div>
        </div>
    </mat-card>

    <mat-card class="receita">
        <div class="container">
            <mat-card-title>
                Receita
            </mat-card-title>
            <hr>
            <div class="margin-body">
                R$ 1.000,00
            </div>
        </div>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" > 
    <mat-card>
        <div class="container">
            <mat-card-title>
                Próximo nascimento
            </mat-card-title>
            <hr>
            <div class="margin-body">
                12/06/2023
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="container">
            <mat-card-title>
                Ranking mais vendidos
            </mat-card-title>
            <hr>
            <div fxLayout="row" class="middle margin-body">
                Old English BullDog
                &nbsp;
                <mat-icon class="middle star" aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon> 
            </div>
        </div>
    </mat-card>

    <mat-card>
        <div class="container">
            <mat-card-title>
                Melhor vendedor
            </mat-card-title>
            <hr>
            <div fxLayout="row" class="margin-body">
                Vitor Costa
                &nbsp;
                <mat-icon class="middle favorite" aria-hidden="false" aria-label="Example home icon" fontIcon="favorite"></mat-icon> 
            </div>
        </div>
    </mat-card>
</div>