<div class="card"></div>

<div class="container-user">
    <mat-card class="user">
        <div class="profile">
            <img src="assets/img/perfil.png" alt="perfil-profile">
            <h1 mat-card-title><b>Vitor Costa</b></h1>
            <h2 mat-card-subtitle><i>Vitor Henrique Mariano da Costa</i></h2>
        </div>

        <mat-divider></mat-divider>

        <div class="rendimentos">
            <div>
                <p><i>N.serviços</i></p>
                <b>Serviços</b>
            </div>

            <div>
                <p><i>N.reclamacoes</i></p>
                <b>Reclamações</b>
            </div>
        </div>

        <mat-divider></mat-divider>

        <form>
            <div class="post">
                <mat-form-field class="example-full-width">
                    <mat-label>Telefone</mat-label>
                    <input type="tel" matInput mask="(00) 00000-0000">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </div>
            <div class="post">
                <mat-form-field>
                    <mat-label>E-Mail</mat-label>
                    <input type="email" matInput>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon matTooltip="Esconder senha">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </form>
    </mat-card>

    <mat-card class="ficha">
        <mat-card-title>Ficha Cadastral</mat-card-title>
        <mat-divider></mat-divider>
        <div class="register">
            <div class="post">
                <mat-form-field>
                    <mat-label>Supervisor</mat-label>
                    <input matInput disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Setor</mat-label>
                    <input matInput disabled>
                </mat-form-field>
            </div>
            <div class="hierarquia">
                <mat-chip class="mat-elevation-z6"> Admnistração </mat-chip>
                <mat-chip class="mat-elevation-z6"> Cadastro </mat-chip>
                <mat-chip class="mat-elevation-z6"> Controle de Usuario </mat-chip>
                <mat-chip class="mat-elevation-z6"> Comunidade </mat-chip>
                <mat-chip class="mat-elevation-z6"> Notificações </mat-chip>
                <mat-chip class="mat-elevation-z6"> Operações </mat-chip>
            </div>
            <mat-divider></mat-divider>
            <h3 mat-card-subtitle><i>Permissões de Acesso</i></h3>
            <mat-divider></mat-divider>
            <div class="post">
                <mat-form-field>
                    <mat-label>Telefone 2</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contato de emergencia</mat-label>
                    <input matInput>
                    <mat-icon matSuffix>emergency</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-card>
</div>

<br>
<br>

<mat-card>
    <mat-tab-group>
        <mat-tab label="Auditoria"></mat-tab>
        <mat-tab label="Documentos"></mat-tab>
    </mat-tab-group>
</mat-card>