<div class="container">
    <div class="title">
        <h1>Produtos</h1>
    </div>

    <mat-divider></mat-divider>

    <div class="body" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field>
            <mat-label>Produto</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Investimento</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Validade</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Manutenção</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Tempo Manutenção</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Observação</mat-label>
            <input matInput placeholder="pat@example.com" required>
          </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="buttons margin" fxLayoutAlign="end center" > 
        <button mat-raised-button color="warn" class="margin-button" [mat-dialog-close]>Fechar</button>
    </div>
</div>