<div class="container">
  <h1>Produto</h1>

  <mat-divider></mat-divider>
 
  <div class="post">
    <div fxLayout="row" fxLayoutAlign="center" class="form"> 
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fornecedor</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="center" class="form"> 
      <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Invesimento</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="center" class="form"> 
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código do produto</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
   
  <mat-divider></mat-divider>

  <br>

  <div fxLayout="row" fxLayoutAlign="end center" > 
    <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
    &nbsp;
    <button mat-flat-button color="primary">Salvar</button>
  </div>
</div>