<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin"> 
        <h1>Permissão de Acesso</h1>
        <a mat-raised-button color="primary" (click)="openDialogServicoAdicionar('500ms', '250ms')" matTooltip="Adicionar Permissão de Acesso">Adicionar</a>
    </div>

    <div class="margin-top">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Automação
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Cadastro
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Controle de Usuário
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Comunidade
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notificaçôes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Operações
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Administrativo
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Contabilidade
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Financeiro
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Operacional
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="departamento" fxLayout="row" fxLayoutAlign="space-between center">
                            Software
                            <mat-slide-toggle (change)="autorizarSetor()"></mat-slide-toggle>
                        </div>                
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>    
</div>