.login-form-flex {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  mat-card {
    width: 40%;
    height: 100%;
  }
  
  .width {
    height: 100%;
    width: 100%;
    background-image: url('/assets/img/back-left.jpg');
    background-attachment: fixed;
    background-size: cover;
    // background-repeat: no-repeat;
  }
  
  @media only screen and (max-width: 750px) {
    mat-card {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 430px) {
    mat-card {
      width: 100%;
    }
  }
  
  .logo {
    width: 320px;
    margin-bottom: 50px;
  }
  
  .acesso:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .container {
    margin: 15px;
  }
  
  .body {
    width: 100%;
    text-align: center;
    margin: 25px;
  }
  
  .post {
    margin-top: 25px;
  }
  
  .form mat-form-field {
    width: 100%;
    margin-left: 15px;
  }