<mat-card-title>
    <h1 class="center margin">Nascimentos</h1>
</mat-card-title>
<mat-divider></mat-divider>
<div class="margin">
  <mat-card>
    <p class="margin">Shaft Lingo Lingo Kennel - <b>23/02/2008</b></p>
  </mat-card>  
  <br>
  <mat-card>
    <p class="margin">Pandora Lingo Lingo Kennel - <b>23/02/2008</b></p>
  </mat-card>  
</div>
<mat-divider></mat-divider>
<div class="buttons margin" fxLayoutAlign="end center" > 
    <button mat-raised-button color="warn" class="margin-button" [mat-dialog-close]>Fechar</button>
</div>