<mat-card-title>
    <h1 class="center margin">Faturamento</h1>
</mat-card-title>
<mat-divider></mat-divider>
<div class="margin">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vitor Costa
        </mat-panel-title>
        <mat-panel-description>
          25/08/2003
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p class="margin">R$119,20 - Venda: 30053</p>
        <p class="margin">R$119,20 - Venda: 30053</p>
        <p class="margin">R$119,20 - Venda: 30053</p>
    </mat-expansion-panel>
  </mat-accordion>
  
</div>
<mat-divider></mat-divider>
<div class="buttons margin" fxLayoutAlign="end center" > 
    <button mat-raised-button color="warn" class="margin-button" [mat-dialog-close]>Fechar</button>
</div>