<mat-card-title>
    <h1 class="center margin">Ranking</h1>
</mat-card-title>
<mat-divider></mat-divider>
<div class="margin">
  <mat-card fxLayout="row" >
        <p class="margin"><b>1</b> - Vitor Costa</p>
        <p class="margin" fxLayoutAlign="end center" ><b>1908</b> </p>
  </mat-card>  
  <br>
  <mat-card fxLayout="row" >
    <p class="margin"><b>2</b> - Gabriel Costa</p>
    <p class="margin" fxLayoutAlign="end center" ><b>908</b> </p>
</mat-card>  
</div>
<mat-divider></mat-divider>
<div class="buttons margin" fxLayoutAlign="end center" > 
    <button mat-raised-button color="warn" class="margin-button" [mat-dialog-close]>Fechar</button>
</div>