<div class="container">
  <h1>Departamento</h1>
</div>

<mat-divider></mat-divider>

<div class="post">
  <div fxLayout="row" fxLayoutAlign="center" class="form">
    <mat-form-field>
      <mat-label>Setor</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
  &nbsp;
  <button mat-flat-button color="primary">Salvar</button>
</div>