<div class="container">
  <h1>Departamento</h1>
</div>


<mat-divider></mat-divider>

<form class="post">

  <div fxLayout="row" fxLayoutAlign="center" class="form">
    <mat-form-field>
      <mat-label>Departamento</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>

  <br>

  <div class="actions" fxLayout="row" fxLayoutAlign="end center">
    <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
    &nbsp;
    <button mat-flat-button color="primary">Salvar</button>
  </div>
</form>