<div class="container">
  <h1>Produto</h1>
</div>

<mat-divider></mat-divider>

<form [formGroup]="cadastroProduto">
  <div class="post container">
    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Produto</mat-label>
        <input matInput formControlName="produto" minlength="3">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="categoria" minlength="3">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fornecedor</mat-label>
        <input matInput formControlName="fornecedor" minlength="3">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" value="0"
          formControlName="preco" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Investimento</mat-label>
        <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" value="0"
          formControlName="investimento">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input matInput mask="separator.2" thousandSeparator="." separatorLimit="99999999999999"
          formControlName="quantidade">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Código do produto</mat-label>
        <input matInput formControlName="codigo_produto">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="margin">
      <div *ngIf="isLoading" class="loader"></div>
    </div>

    <div class="margin" fxLayout="row" fxLayoutAlign="end center">
      <button mat-dialog-close mat-flat-button [hidden]="isLoading" color="warn">Cancelar</button>
      &nbsp;
      <button mat-flat-button color="primary" [hidden]="isLoading" [disabled]="cadastroProduto.invalid"
        (click)="salvarCadastro()">Salvar</button>
    </div>
  </div>
</form>