<div>
    <br>
    <h1 routerLink="/" class="nav-title">Logo Empresa</h1>
</div>

<hr>

<div class="nav">
    <h1>Cadastros</h1>
    
    <div class="page-navegation">
        <div class="page-item">
            <a routerLink="/produtos">Produtos</a>
        </div>

        <div class="page-item">
            <a routerLink="/clientes">Clientes</a>
        </div>
    </div>

</div>

<hr>

<div class="nav">
    <h1>Operações</h1>
    
    <div class="page-navegation">
        <div class="page-item">
            <a routerLink="/auditorias">Auditoria</a>
        </div>
        <div class="page-item">
            <a routerLink="/ordemServico">Ordens de Serviços</a>
        </div>
    </div>

</div>