<h1>Cadastros</h1>

    <div class="page-item">
        <a routerLink="/colaboradores" class="page-navegation">Colaborador</a>
    </div>

    <div class="page-item">
        <a routerLink="/usuarios" class="page-navegation">Usuarios</a>
    </div>

    <div class="page-item">
        <a routerLink="/departamentos" class="page-navegation">Departamento</a>
    </div>

    <div class="page-item">
        <a routerLink="/produtos" class="page-navegation">Produtos</a>
    </div>
    
    <div class="page-item">
        <a routerLink="/materiais" class="page-navegation">Materiais</a>
    </div>

    <div class="page-item">
        <a routerLink="/empresas" class="page-navegation">Empresas</a>
    </div>

    <div class="page-item">
        <a routerLink="/clientes" class="page-navegation">Clientes</a>
    </div>


<hr>

<h1>Gerencial</h1>

    <div class="page-item">
        <a routerLink="/ordemServico" class="page-navegation">Ordem de Serviço</a>
    </div>

    <div class="page-item">
        <a routerLink="/estoque" class="page-navegation">Estoque</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

<hr>

<h1>Logistica</h1>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

<hr>

<h1>Ambientes</h1>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

<hr>

<h1>Relatorios</h1>

    <div class="page-item">
        <a routerLink="/auditorias" class="page-navegation">Auditoria</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>

    <div class="page-item">
        <a routerLink="" class="page-navegation">---</a>
    </div>