<div class="container">
  <h1>Ordem de Serviço</h1>
</div>

<mat-divider></mat-divider>

<form [formGroup]="addOrdemServico">
  <div class="post container">
    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="cliente">
          <mat-option *ngFor="let clientes of cliente" [value]="clientes.cliente">
            {{clientes.cliente}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" value="0"
          formControlName="preco" />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>PET</mat-label>
        <input matInput formControlName="pet" minlength="3">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Responsável</mat-label>
        <mat-select formControlName="responsavel">
          <mat-option *ngFor="let colaboradores of colaborador" [value]="colaboradores.colaborador">
            {{colaboradores.colaborador}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <br>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
      &nbsp;
      <button mat-flat-button color="primary" [disabled]="addOrdemServico.invalid">Salvar</button>
    </div>
  </div>
</form>