<mat-card-title>
    <h1 class="center margin">Notificações</h1>
</mat-card-title>
<mat-divider></mat-divider>
<div class="margin">
    <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>hotel_class</mat-icon>
          <div matListItemTitle>Nascimento</div>
          <div matListItemLine>Próximos nascimentos em 12/08/2023</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>report</mat-icon>
          <div matListItemTitle>Alerta despesa</div>
          <div matListItemLine>Compra realizada por <b>José Vicente Jesus</b></div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>pets</mat-icon>
            <div matListItemTitle>Pet vendido</div>
            <div matListItemLine>Pet vendido para <b>Cauê Daniel Carlos Moreira</b></div>
          </mat-list-item>
      </mat-list>
      
</div>
<mat-divider></mat-divider>
<div class="buttons margin" fxLayoutAlign="end center" > 
    <button mat-raised-button color="warn" class="margin-button" [mat-dialog-close]>Fechar</button>
</div>