<div class="container">
  <h1>Cliente</h1>
</div>


<mat-divider></mat-divider>

<form [formGroup]="cadastroCliente">
  <div class="post">
    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input matInput formControlName="cliente" minlength="3">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" mask="A*@A*.SSS" [validation]="true" [dropSpecialCharacters]="false">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" mask="+00 (00) 00000 - 0000||+00 (00) 0000 - 0000">
      </mat-form-field>

      <mat-form-field>
        <mat-label>telefone 2</mat-label>
        <input matInput formControlName="telefone2" mask="+00 (00) 00000 - 0000||+00 (00) 0000 - 0000">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" mask="00000 - 000" [(ngModel)]="endereco.cep"
          (blur)="buscarEnderecoPorCep()">
        <mat-hint *ngIf="cepNaoEncontrado" class="error-message">CEP não encontrado <br> </mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Rua/Avenida</mat-label>
        <input matInput formControlName="logradouro" [(ngModel)]="endereco.logradouro"
          [required]="cadastroCliente.get('cep')?.value">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" [(ngModel)]="endereco.bairro"
          [required]="cadastroCliente.get('cep')?.value">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" [(ngModel)]="endereco.cidade"
          [required]="cadastroCliente.get('cep')?.value">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput aria-label="State" formControlName="estado" [(ngModel)]="endereco.estado"
          [required]="cadastroCliente.get('cep')?.value">
        <mat-select>
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
            <img alt="" class="example-option-img" [src]="state.flag" height="25">
            &nbsp;
            <span>{{state.name}}</span> - {{state.sigla}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="form">
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <br>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-dialog-close mat-flat-button color="warn">Cancelar</button>
      &nbsp;
      <button mat-flat-button color="primary" [disabled]="cadastroCliente.invalid">Salvar</button>
    </div>
  </div>
</form>