<mat-card>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="middle"> 
            <h1 class="pointer">Lingo Kennel</h1>
            <div fxLayout="row" fxLayoutAlign="end center" > 
                <a matTooltip="Configurações">  
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings" class="icon-hover"></mat-icon> 
                </a>
                &nbsp;
                &nbsp;
                <a matTooltip="Notificações">  
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications" class="icon-hover"></mat-icon>
                </a>
                &nbsp;
                &nbsp;
                <a matTooltip="Perfil">  
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person" class="icon-hover"></mat-icon>
                </a>
            </div>
        </div>
    </mat-card-content>
</mat-card>

  