.container {
  margin: 15px;
}

.body {
  width: 100%;
  text-align: center;
  margin: 25px;
}

.post {
  margin-top: 25px;
  margin-right: 15px;
}

.form mat-form-field {
  width: 100%;
  margin-left: 15px;
}

.form mat-hint {
  color: red;
}

.margin {
  margin-top: 15px;
}

.end {
  display: flex;
  justify-content: end;
}

.container-actions{
  margin-right: 15px;
  margin-bottom: 15px;
}