.container {
    margin: 25px;
}

mat-card {
    width: 100%;
}

.card-margin {
    margin: 10px;
}

.post {
    margin-top: 25px;
}

.form mat-form-field {
    width: 60%;
    margin-left: 15px;
}

.btn {
    margin-top: 12px;
    margin-left: 15px;
    vertical-align: middle;
}
